 body {
   margin: 0;
   /* centra todo */
   text-align: center;
   font-family: Arial;
 }

 h1 {
   /* arriba, izquierda, abajo, derecha */
   /* margin: 0 auto 0 auto; */
   /* arriba abajo, izquierda derecha; */
   margin: 50px auto 0 auto;
   font-size: 562.5%;
   color: #77ACF1;
 }

 h2 {
   font-family: 'Nunito', sans-serif;
   font-size: 2rem;
   color: #77ACF1 ;
   padding-bottom: 20px;
 }

 h3 {
   color: #66BFBF;
   font-family: 'Roboto', sans-serif;
 }

 hr {
   background-color: none;
   border-style: dotted none none none;
   border-color: gray;
   border-width: 5px;
   /* height: 0px; */
   width: 5%;
   margin: 50px auto;
 }

 p{
    line-height: 2;
 }
 .btn {
  background: #55d934;
  background-image: -webkit-linear-gradient(top, #55d934, #55b82b);
  background-image: -moz-linear-gradient(top, #55d934, #55b82b);
  background-image: -ms-linear-gradient(top, #55d934, #55b82b);
  background-image: -o-linear-gradient(top, #55d934, #55b82b);
  background-image: linear-gradient(to bottom, #55d934, #55b82b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 4px 7px #666666;
  -moz-box-shadow: 0px 4px 7px #666666;
  box-shadow: 0px 4px 7px #666666;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
 .badge {
   width: 25%;
 }

 .badge:hover{
   opacity: 0.5;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
 }

 .badge-right {
   float: right;
   margin-left: 30px;
 }

 .badge-left {
   float: left;
   margin-right: 30px;
 }

 .big {
   font-size: 300%;
 }

 .small{
   font-size: 200%;
 }

 .top30 {
   margin-top: 50px;
   clear: left;
 }

 .stars {
   width: 50%;
 }

 .stars-right {
   float: right;
   margin-left: 30px;
 }

 .stars-left {
   float: left;
   margin-right: 30px;
 }

 .img-profile {
   border-radius: 50%;
   height: 200px;
 }

 .top-container {
   background-color: #C0FEFC;
   position: relative;
   padding-top: 100px;
 }
 .intro{
   width: 40%;
   margin: auto;
 }

 .middle-container {
   margin: 80px auto;
 }


 .ingeniero {
   text-decoration: underline;
 }

 .top-cloud {
   position: absolute;
   right: 300px;
   top: 50px;
   width: 80px;
 }

 .skill-row {
   width: 50%;
   margin: 100px auto;
   text-align: left;
 }

 .studies-row {
   width: 50%;
   margin: 100px auto;
   text-align: left;
 }

 .bottom-cloud {
   position: absolute;
   left: 300px;
   bottom: 300px;
   width: 200px;
 }

 .btn {
   background: #09FF34;
   background-image: -webkit-linear-gradient(top, #09FF34, #19BF36);
   background-image: -moz-linear-gradient(top, #09FF34, #19BF36);
   background-image: -ms-linear-gradient(top, #09FF34, #19BF36);
   background-image: -o-linear-gradient(top, #09FF34, #19BF36);
   background-image: -webkit-gradient(to bottom, #09FF34, #19BF36);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Tahoma;
   font-size: 19px;
   font-weight: 200;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 4px 0 #000000;
   -moz-box-shadow: 1px 1px 4px 0 #000000;
   box-shadow: 1px 1px 4px 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 50px;
}

 .bottom-container {
   background-color: #C0FEFC;
   padding: 50px 0 10px;
 }

 .footer-link{
   color: #11999E;
   text-decoration: none;
   margin: 80px 40px;
 }
 .footer-link:hover{
   color: #EAF6F6;
 }

 .copyright {
   color: black;
   margin-top: 30px;
   margin-bottom: 0;
 }
